.project
.classpath
scheduler.sqlite
.DS_Store
scheduler/bin
scheduler/gen/com/njtransit/R.java
scheduler/target
scheduler/.classpath
scheduler/.project
mp-maven-plugin/target
maven-android-plugin/target
schedule-maker-maven-plugin/target

departurevision/project/boot/
departurevision/project/build/target/
departurevision/src_managed/
departurevision/project/plugins/project/build.properties
departurevision/target/
departurevision/lib_managed/
