.project
.classpath
scheduler.sqlite
.DS_Store
scheduler/bin
scheduler/gen/com/njtransit/R.java
scheduler/target
scheduler/.classpath
scheduler/.project
mp-maven-plugin/target
maven-android-plugin/target