<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="2010120122" android:versionName="2010-12-01" package="com.njtransit">
	<uses-sdk android:minSdkVersion="7" android:targetSdkVersion="7"/>
	<application android:debuggable="true" android:icon="@drawable/icon" android:label="@string/app_name_full" android:name="com.njtransit.SchedulerApplication" android:theme="@style/OrangeTheme">
		
		<activity android:configChanges="orientation" android:label="@string/app_name_full" android:name="com.njtransit.StationListActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Light">
			<intent-filter>				
				<action android:name="android.intent.action.SEARCH"/>
			</intent-filter>
			<meta-data android:name="android.app.searchable" android:resource="@xml/searchable"/>
		</activity>
		<activity android:configChanges="orientation" android:name="com.njtransit.MainActivity" android:screenOrientation="portrait">
			<intent-filter>
				<category android:name="android.intent.category.LAUNCHER"/>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>
		<activity android:configChanges="orientation" android:name="com.njtransit.StopActivity" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
			</intent-filter>
		</activity>
		<activity android:name="Prefs" android:screenOrientation="portrait"/>
		<service android:name=".service.UpdaterService"/>


		<meta-data android:name="ADMOB_PUBLISHER_ID" android:value="a14cbf2b9d15c90"/>
		<meta-data android:name="ADMOB_ALLOW_LOCATION_FOR_ADS" android:value="true"/>

		<activity android:configChanges="orientation|keyboard|keyboardHidden" android:name="com.admob.android.ads.AdMobActivity" android:theme="@android:style/Theme.NoTitleBar.Fullscreen"/>
		<receiver android:exported="true" android:name="com.admob.android.ads.analytics.InstallReceiver">
			<intent-filter>
				<action android:name="com.android.vending.INSTALL_REFERRER"/>
			</intent-filter>
		</receiver>

	</application>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>